* {
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    height: 100vh;
    margin: 0;
}
.container {
    width: 100%;
    padding: 20px;
}
.bx {
    -webkit-box-shadow: 0 0 8px 0px rgb(187 187 187);
    -moz-box-shadow: 0 0 8px 0px rgb(187 187 187);
    box-shadow: 0 0 8px 0px rgb(187 187 187);
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}
.table td, .table th {
    text-align: left;
    padding: 8px;
}
.table td, .table th {
    border-top: 1px solid #ccc;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table .sort-th{
    cursor: pointer;
}
.table .sort-th span{
    font-size: 14px;
    font-weight: 400;
}
.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mx-auto{
    margin: 0 auto;
}
.d-none{
    display: none;
}

.header-wrapper{
    width: 100%;
    padding: 15px;
    position: fixed;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.flex-container {
  display: flex;
  align-items: stretch;
}
.logo-wrapper{
    background-color: #212529;
    color: #fff;
    height: 75px;
    width: 75px;
    position: relative;
    flex-grow: 0;
    align-self: center;
}
.logo-wrapper p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.text-center{
    text-align: center;
}
.profile-avatar{
    background-color: #212529;
    color: #fff;
    height: 55px;
    width: 55px;
    position: relative;
    border-radius: 50%;
    flex-grow: 0;
    align-self: center;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.head-wrapper{
    flex-grow: 10;
}
.mt{
    margin-top: 120px;
}
.staff-add-btn{
    float: right;
    background-color: #212529;
    padding: 7px 15px;
    color: #fff;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border:none;
}
.type-selector{
    padding: 3px 15px;
}
/* modal popup */

.modal {
    display: none; 
    z-index: 9999; 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal .modal-content {
    background-color: #fefefe;
    margin: 25px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    position: relative;
  }
  

  .modal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top:5px;
  }

  .modal .modal-title{
    text-align: center;
  }
  
  .modal .close:hover,
  .modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal .form-row{
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
  }
  .modal .modal-sbmt-btn{
      background-color: #212529;
      padding: 7px 14px;
      color: #fff;
      border-radius: 0.25rem;
      border:none;
      text-align: center;
  }

  #validate-alert {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(233, 49, 49, 0.925);
    color: #fff;    
    text-align: center;
    border-radius: 0.25rem;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #validate-alert.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

@media (max-width: 767.98px) { 
    .modal .modal-content {
        width: 80%;
    }
}
@media (max-width: 575.98px) {  
    .flex-container {
        justify-content: space-between;
    }
    .header-wrapper{
        position: unset;
    }
    .mt{
        margin-top: 0;
    }
    .head-wrapper{
        display: none;
    }
}
@media (max-width: 414.98px) {
}
